<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>上传图片</title>
</head>
<body>
<form enctype="multipart/form-data" id="biaodan" name="biaodan" method="post" action="/example1/allupload/" >
<div>
请上传封面图像：<input type="file" id="fengmiantuxiang" name="fengmiantuxiang" /><br><br>
请上传新闻图像：<input type="file" id="xinwentuxiang" name="xinwentuxiang" /><br><br>
请输入图像名称：<input type="text" id="tuxiangwenbenkuang" name="tuxiangwenbenkuang"><br><br>
请输入新闻标题：<input type="text" id="xinwenwenbenkuang" name="xinwenwenbenkuang"><br><br>
请输入新闻内容：<br><textarea id="xinwenwenbenyu" name="xinwenwenbenyu" cols="45" rows="15"></textarea><br><br>
<input type="submit" id="anliu" name="anliu" value="确认上传" />
</div>
</form>
</body>
</html>

